@model IEnumerable<Employee>

@{    
    ViewBag.Title = "Show Employee List";
}
   
<div class="card-deck">
    @foreach (var employee in Model)
    {
        <div class="card m-3">
            <div class="card-header">
                <h3>@employee.Name</h3>
            </div>
            <img class="card-img-top" src="~/images/noimage.jpg" />
            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="details" asp-route-id="@employee.Id" class="btn btn-primary">View</a>
                <a href="#" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    }
</div>

@* <table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Department</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model) {
        <tr>
            <td>
                @employee.Id
            </td>
            <td>
                @employee.Name
            </td>
            <td>
                @employee.Email
            </td>
            <td>
                @employee.Department
            </td>
            
        </tr>
}
    </tbody>
</table> *@
